@{
    //ViewBag.Title = "Upload Countries from excel";
}

<h2>Upload Countries From Excel</h2>
<div>
    <form asp-action="UploadFromExcel" asp-controller="Countries" method="post" enctype="multipart/form-data">
        <div>
            <div>
                <label>Choose Excel File</label>
                <input type="file" name="excelFile" class="form-input" />
                <div style="background-color:red">@ViewBag.ErrorMessage</div>
                <div style="background-color:green">@ViewBag.Messages</div>
            </div>
        </div>

        <div>
            <div>
                <div>
                    <button type="submit" style="color:green">Upload</button>
                </div>
            </div>

        </div>
    </form>
</div>